@import url('https://fonts.googleapis.com/css2?family=work+Sans:ital,wght@0,100..900;100,100..900&display=swap');



.work-sans-font{
    font-family:  "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-weight: normal;
}
/* shared styles */
.display-flex{
      display:flex;
}
.text-gray{
    color: #424242;

}
.text-light-gray{
    color: #727272;
}

/* header related styles */

/* navbar related styles */
.navbar{
  

}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}